<div class="card shadow-sm no-border-radius">
    <div class="card-header bg-danger text-white text-center">
        Eliminar
    </div>
    <div class="card-body">
        <p class="card-text" style="font-family: 'Trebuchet MS', sans-serif;">
            ¿Seguro de eliminar el club?
        </p>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger me-2 no-border-radius" (click)="onEliminar()">
                Sí
            </button>
            <button type="button" class="btn btn-secondary no-border-radius" (click)="onCancelar()">
                No
            </button>
        </div>
    </div>
</div>


